.auth__form {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background: #f5f5f5;
    /* font-family: 'roboto', sans-serif; */
    padding-bottom: 32px;
}

#name,
#email,
#password,
#number,
button.signup {
    display: block;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
}

@media screen and (max-width: 590px) {
    .auth__form {
        min-height: 65vh;
    }
}

@media screen and (max-width: 300px) {
    button.signup {
        width: 100%;
    }

    .auth__form {
        padding-left: 8px;
    }

    .alert-box {
        width: 97% !important;
    }
}

#name,
#email,
#password,
#number {
    padding: 20px;
    background: #fff;
    outline: none;
    margin: 20px 0;
    font-weight: 600;
    color: var(--col1);
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: 'roboto', sans-serif;
}

button.signup {
    margin-top: 24px;
    margin-bottom: 16px;
    background-color: var(--col1);
    color: var(--whiteColor);
}

.checkbox:checked {
    background-color: var(--col1);
}

.checkbox::after {
    content: '' !important;
    position: absolute !important;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    pointer-events: none;
    background-image: url("../assets/all-images/check.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    display: none;
}

.checkbox:checked::after {
    display: block;
}

.checkbox {
    -webkit-appearance: none !important;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #383838;
    border-radius: 2px;
    background: #fff;
    cursor: pointer;
    top: 2px;
}

.auth-label {
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--col1);
    font-weight: 600;
    margin-left: 4px;
}

.auth-link,
.auth-link:hover {
    color: var(--col1);
}

img.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    /* display: none; */
    transform: translate(-50%, -50%);
}

.alert-box {
    width: 300px;
    min-height: 240px;
    /* min-height: 130px; */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.05);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    transition: 1s;
}

.alert-box.show {
    opacity: 1;
}

.alert-box img {
    display: block;
    margin: 8px auto 20px;
    height: 60px;
}

.alert-box p {
    color: #e24c4b;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}